*~
.DS_Store
**/*.pyc
**/*.pyo
**/__pycache__
**/*.so
**/*.swp
**/*.egg-info
**/*.dist-info
/bin
/lib
/lib64
/include
/build
/dist
/docs/_build/html
/docs/_build/doctrees
/pip-selfcheck.json
/pyvenv.cfg
/.venv
/.Python
/.eggs
/.cache
/.tox
/.coverage
/.long-description.html
/.ipynb*
**/*.pkl
**/*.pt
**/*.tar
**/*.tgz
**/*.tar.gz
**/*.zip
/sample
/data
